<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
  -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='login.css') }}">

<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" action="" method="post">

      <input type="text" placeholder="Username" name="username"
             id="inputUsername"
             value="{{ request.form.username }}" required autofocus>

      <input type="password" placeholder="Password" name="password"
             id="inputPassword"
             value="{{ request.form.password }}" required autofocus>

      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block btn-signin"
              type="submit" value="Login">Sign in here</button>

      <button class="btn btn-lg btn-primary btn-block btn-register"
              type="submit" value="Register">Register</button>

    </form><!-- /form -->
    <a href="#" class="forgot-password">
      Forgot the password?
    </a>
  </div><!-- /card-container -->
</div><!-- /container -->
